openapi: 3.0.4
info:
  title: Variable Name Converter
  description: Variable Name Converter transforms variable names between different naming conventions including camelCase, snake_case, PascalCase, and kebab-case.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/variablenameconverter:
    post:
      summary: Convert Variable Names
      description: Variable Name Converter transforms variable names between different naming conventions including camelCase, snake_case, PascalCase, and kebab-case.
      operationId: variablenameconverter
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                  results:
                  - original: myVariableName
                    converted: my_variable_name
                  - original: another_var_name
                    converted: another_var_name
                  - original: SomeClassName
                    converted: some_class_name
                  - original: kebab-case-name
                    converted: kebab_case_name
                  - original: CONSTANT_VALUE
                    converted: c_o_n_s_t_a_n_t__v_a_l_u_e
                  count: 5
                  targetFormat: snake_case
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variables:
                  type: array
                  description: Array of variable names to convert (max 100)
                  example:
                  - myVariableName
                  - another_var_name
                  - SomeClassName
                  - kebab-case-name
                  - CONSTANT_VALUE
                to:
                  type: string
                  description: 'Target naming convention: camelCase, PascalCase, snake_case, kebab-case, CONSTANT_CASE'
                  example: snake_case
              required:
              - variables
              - to
              example:
                variables:
                - myVariableName
                - another_var_name
                - SomeClassName
                - kebab-case-name
                - CONSTANT_VALUE
                to: snake_case
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
